youtrackBaseUrl: https://flowbox.youtrack.cloud/
timezone: Europe/Prague
defaultIssuePrefix: SW-
allowedTypes:
	- Analyses / Design
	- 'Communication, Meetings, ...'
	- Documentation
	- Implementation
	- Out of office
	- Test / Review
interruptionTypes:
	- 'Communication, Meetings, ...'
	- Test / Review
defaultTrackType: Implementation
defaultDayType: Out of office
defaultMeetingIssue: SW-4002
defaultOutOfOfficeIssue: SW-5070
